<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./sprite sheet big</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{666,1000}</string>
    <key>spriteSourceSize</key>
    <string>{666,1000}</string>
    <key>textureRect</key>
    <string>{{0,0},{666,1000}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spriteExports/hdr/exported</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{666,1000}</string>
    <key>spriteSourceSize</key>
    <string>{666,1000}</string>
    <key>textureRect</key>
    <string>{{0,0},{666,1000}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{666,1000}</string>
   <key>textureFileName</key>
   <string>exported.png</string>
  </dict>
 </dict>
</plist>
